@page "/cards"

<h3>Cards</h3>

<strong>Table of Contents</strong>
<ol>
    <li><a href="/cards#Archetype">The archetypal cards.</a></li>
    <li><a href="/cards#Generic">The generic yet essential cards.</a></li>
    <li>
        <a href="/cards#OtherArchetypes">The other archetype cards that you must know.</a>
        <ol>
            <li><a href="/cards#TriBrigade">Tri-Brigade</a></li>
            <li><a href="/cards#WorldLegacy">World Legacy</a></li>
        </ol>
    </li>
</ol>

<h1 id="Archetype">The archetypal cards.</h1>



<h1 id="Generic">The generic yet essential cards.</h1>
<h1 id="OtherArchetypes">The other archetype cards that you must know.</h1>
<h1 id="TriBrigade">Tri-Brigade</h1>
<h1 id="WorldLegacy">World Legacy</h1>

<AnchorNavigation />

@code {
    //private List<Card> ArchetypalCards;
}
