@page "/"

<h1>Welcome to the Gladiator beast guide!</h1>

This website has been built by Koneko (Koneko#9988), with huge thanks to AzarTheKas from the Endymion discord server.

Here, you will find a list of all <NavLink href="/cards">gladiator beast cards and ratios</NavLink>, see <NavLink href="/lists">lists and core examples</NavLink>, or explore <NavLink href="/combo">complete combo tutorials</NavLink>.